<header class="site-header px-responsive">
  <center><span><table style="width: 200px; border-collapse: collapse; border: none;"><tr><td><img src="https://raw.githubusercontent.com/MoonModules/moonmodules.github.io/refs/heads/main/images/moonmodules_mascot.png" style="width: 100px !important; height: 100px !important"/></td><td><h2><a href="https://moonmodules.org/" style="text-decoration: none; color: black;">☾&nbsp;MoonModules&nbsp;☽</a></h2><br><i>Open source lighting software, hardware and art</i></td></tr></table></span></center>
  <div class="mt2 wrap">
        {% include navigation.html %}
  </div>
</header>
