<div class="py2 post-footer">
  <p>
    Thanks for reading. Did I make a mistake? Please consider
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://github.com/moonmodules/moonmodules.github.io/edit/master/collections/{{ page.path }}"
      >sending a pull request.</a
    >
  </p>
  <p>
    Follow us on
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://github.com/moonmodules"
      >Github</a
    >
    ,
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://discord.gg/TC8NSUSCdV"
      >Discord</a
    >
    or
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://www.reddit.com/r/MoonModules/"
      >Reddit</a
    >.
  </p>
</div>
